<div id="formContent">
  <wiz-alert type="error" btnclose="true" *ngIf="loginErrorMessage">
    {{ loginErrorMessage }}
  </wiz-alert>
  <h1>Login</h1>
  <form [formGroup]="form" data-test="login" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        data-test="email"
        type="e-mail"
        formControlName="email"
        placeholder="Email"
        required
      />
      <mat-error
        *ngIf="
          email && email.invalid && email.errors && email.errors['required']
        "
        >Email obrigatório</mat-error
      >
      <mat-error
        *ngIf="email && email.invalid && email.errors && email.errors['email']"
        >Email inválido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input
        matInput
        data-test="password"
        type="password"
        formControlName="password"
        placeholder="Senha"
        required
      />
      <mat-error
        *ngIf="
          password &&
          password.invalid &&
          password.errors &&
          password.errors['required']
        "
        >Senha obrigatória</mat-error
      >
    </mat-form-field>

    <re-captcha (resolved)="onCaptchaResolved($event)"></re-captcha>

    <button
      type="submit"
      data-test="submit"
      mat-flat-button
      color="primary"
      [disabled]="!captchaResolution"
    >
      {{ loginButtonMessage }}
    </button>
  </form>
</div>
