#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 74px;
  -webkit-box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
  box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
  text-align: center;
  margin: auto;

  h1 {
    margin-bottom: 20px;
  }

  mat-form-field {
    width: 100%;
  }

  button {
    margin-top: 20px;
    width: 100%;
    padding: 5px;
  }

  #formFooter {
    margin-top: 20px;
  }
}
