<mat-toolbar color="accent" data-test="mat-toolbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="home">
      <img [src]="logoUrl" alt="logo" data-test="logo-img" />
    </a>
  </div>

  <a
    mat-button
    *ngIf="isLoggedIn && isFeatureEnabled('sales')"
    routerLink="sales"
    data-test="sales-link"
  >
    Vendas
  </a>
  <a
    mat-button
    *ngIf="isLoggedIn && isFeatureEnabled('documentation')"
    routerLink="documentation"
    data-test="documentation-link"
  >
    Documentação
  </a>

  <span class="navbar-spacer"></span>
  <button *ngIf="isLoggedIn" mat-button (click)="logOut()" (keyup)="logOut()">
    Logout
  </button>
</mat-toolbar>
