form {
  display: flex;
  flex-direction: column;

  .columns {
    display: flex;

    .column {
      flex: 1;

      .example-full-width {
        width: 100%;
        margin-bottom: 20px;
      }

      & + .column {
        margin-left: 20px;
      }
    }
  }
}
